body .menu {
  height: 40px; }

body .dynamic-color {
  background: transparent;
  transition: 0.3s all ease-out;
  transform: scale(1); }
  body .dynamic-color:hover {
    background: green;
    transform: scale(1.1); }

body .green-block {
  background: green;
  border-radius: 4px;
  width: calc(50% - 20px);
  float: left;
  margin-right: 10px; }

body nav {
  background-color: orange;
  padding: 10px;
  border-radius: 4px;
  list-style-type: none; }
  body nav a {
    width: 33%;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-out all; }
  body nav a:hover {
    color: black; }

body main input:focus {
  background-color: yellow; }

body footer {
  background-color: green;
  padding: 10 px;
  border-radius: 4px; }
