@import "./node_modules/bootstrap/scss/bootstrap";
$primary-color: orange;
$secondary-color: green;
$tertiary-color: #eeeeee;
$primary-font-color: black;
$border-radius: 4px;

body {
    .menu {
        height: 40px;
    }

    .dynamic-color {
        background: transparent;
        transition: 0.3s all ease-out;
        transform: scale(1);
        
        &:hover {
            background: green;
            transform: scale(1.1);
        }
    }

    .green-block {
        background: green;
        border-radius: 4px;
        width: calc(50% - 20px);
        float: left;
        margin-right: 10px;
    }

    nav {
        background-color: $primary-color;
        padding: 10px;
        border-radius: 4px;
        list-style-type: none;
    
        a {
            width: 33%;
            display: inline-block;
            text-align: center;
            transition: 0.3s ease-out all;
        }
        a:hover {
            color: $primary-font-color;
        }
    }
    
    // background-image: url("logo-512.png");
    main {
        input:focus {
            background-color: yellow;
        }
    }
    footer {
        background-color: $secondary-color;
        padding: 10 px;
        border-radius: 4px;
    }
}